
header {

    background: #000000;

}

body {
    background: linear-gradient(#2c2c2c,#000000);
    color: #ddd ;
    margin: 0;

}

div.container {
    margin-right: 0%;
    padding: 0%;
    margin-left: 0%;

}

li {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

h1 {
    letter-spacing: 2px;
}

h2 {
    letter-spacing: 2px;
    margin-left: 133px;
}

.project-title {
    padding: 15%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

    
}

  
.contact-title {
    padding: 15%;
    padding-bottom: 50%;
}

