
header {

    background: #000000;

}

body {
    background: linear-gradient(#2c2c2c,#000000);
    color: #ddd ;

}

li {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 20px;
}

.project-title {
    padding: 15%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

    ;
}

.carousel {
    margin: 50px;
    box-shadow: 2px 2px 5px rgb(238, 255, 241)
}


  
.contact-title {
    padding: 15%;
    padding-bottom: 50%;
}

